
html {
    background-color: #16202C;
    text-align: center;
}

.card {
    background-color: #192734;
    color: white;
    border: thin solid #38444D;
}
  
#root{
    width: 50%;
    align-items: center;
    display: inline-block;
    justify-content: center;
}

#feed {
    text-align: left;
}

#header-title {
    /* color: #3798DC; */
    color:white;
    text-align: center;
    margin: 10px;
}

.title {
    white-space: pre;
    color: white;
}
.subtitle {
    color:white; 
}

.icon-button {
    /* background-color: white; */
    background-color: #192734;

    border: none;
    /* color: rgba(0, 0, 0, 0.5); */
    color:#8899A6;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    white-space: pre;
}

.content {
    word-wrap: break-word;
}


#unlike-button {
    background-color: white;
    border: none;
    color: #E0395F;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

#new-tweet-button, #switch-ui-button {
    margin: 10px;
    align-items: center;
    justify-content: center;
    white-space: pre;
}

#retweet-card {
    width: 75%;
    word-wrap: break-word;
    margin: auto;
    margin-bottom: 5%;
}

#replies-list {
    width: 100%;
}

